.main-chat
  .group-info
    .group-info__box
      %ul.group-info__box
        %li.group-info__box-name
          = @group.name
        .group-info__box-edit
          =link_to "Edit", edit_group_path(@group.id)
      %ul.group-info__box-member
      - @group.users.each do |user|
        %li.group-info__box-member-list
          Member : 
          =user.name

  .message-list
    = render @messages
    -# %ul.message-list__info
    -#   %li.message-list__info-name
    -#     とーい
    -#   %li.message-list__info-date
    -#     2019/12/17(Tue) 14:15:22
    -# %ul.message-list__info-comments
    -#   %li.message-list__info-comments-comment
    -#     yoro
      
  .message-form
    = form_for [@group, @message] do |f|
      .message-form-tweet
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .message-form-photo
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      .message-form-send
        = f.submit 'Send', class: 'form__submit'
          
